.form-post {
  margin: 20px 0;
}
.post-item {
  list-style-type: none;
  box-sizing: border-box;
  padding: 8px;
}
.post-item p {
  margin: 0;
  line-height: 22px;
}
.btn-post {
  background: #006799;
  border: 1px solid #006799;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}
.link-edit,
.link-edit:hover {
  color: #fff;
}
.profile-title {
  display: block;
  /*text-align: center;*/
  padding: 10px;
  border-bottom: 1px solid #0073aa;
}
.block-center {
  display: block;
  margin: 0 auto;
}
.alert-success {
  padding: 10px 20px;
  display: block;
}
.nav-tab-profile {
  display: block;
}
.tab-link {
  font-size:18px;
}
.tab-item {
  padding: 0 20px;
}
.tab-item:active {
  background: #f6f7f9;
}
.form-reset-pass {
  padding-bottom: 20px;
  background: #fbfbfb;
}
